:root {
    --h1--principal:'Parisienne', cursive;
    --hs--titulos: 'Poppins', sans-serif;
    --parrafos: 'Poppins', sans-serif;

    --color--Principal: #a8eff8;
    

}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;600&display=swap');

.cards {
    justify-content: center;
    margin: 40px;
}

h1 {
    text-align: center;
}

footer {
    background-color: #a8eff8;
}

.bg-type {
    background-color: var(--color--Principal);
}

span {
    text-shadow: 1px 1px 2px black ;
    color: #a8eff8;
    text-transform: uppercase ;
    font-style: oblique;
    font-weight: 700;
}

h1 {
    font-size: 60px;
    
}

.card {

    box-shadow: 13px 12px 15px -3px #a8eff8;
}

.up {
    margin-top: 20px;
    gap: 40px;
    justify-content: center;
}

.down {
    gap: 40px;
    justify-content: center;
}
.vid-1 {
    margin-top: 60px;
    justify-items: center;
}

.video-q {
    display: block;
    margin: auto;
}

.alert {
    margin: 40px;
}