:root {
    --h1--principal:'Parisienne', cursive;
    --hs--titulos: 'Poppins', sans-serif;
    --parrafos: 'Poppins', sans-serif;

    --color--Principal: #69E0FA;
    

}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;600&display=swap');

.cards {
    justify-content: center;
}

h1 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}